<a href="https://colab.research.google.com/github/cassidyhanna/DS-Unit-2-Applied-Modeling/blob/master/Copy_of_assignment_applied_modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

In [0]:
%%capture

import sys
if 'google.colab' in sys.modules:
  DATA_PATH = 'https://raw.githubuser.com/LamdaSchool/DS-Unit-2-Applied-Models/master/data/'
  !pip install categeory_encoders==2.*

In [61]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import graphviz 
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00373/drug_consumption.data'

df_cols = ['ID','Age','Gender','Education','Country','Ethnicity','Nscore','Escore','Oscore','Ascore',
           'Cscore','Impulsive','SS','Alcohol','Amphet','Amyl','Benzos','Caff','Cannabis','Choc','Coke',
           'Crack','Esctasy','Heroin','Ketamine','Legalh','LSD','Meth','Mushrooms','Nicotine','Semer','VSA']

df = pd.read_csv(url, names = df_cols)

df.head()

   ID      Age   Gender  Education  Country  ...  Meth  Mushrooms  Nicotine  Semer  VSA
0   1  0.49788  0.48246   -0.05921  0.96082  ...   CL0        CL0       CL2    CL0  CL0
1   2 -0.07854 -0.48246    1.98437  0.96082  ...   CL3        CL0       CL4    CL0  CL0
2   3  0.49788 -0.48246   -0.05921  0.96082  ...   CL0        CL1       CL0    CL0  CL0
3   4 -0.95197  0.48246    1.16365  0.96082  ...   CL0        CL0       CL2    CL0  CL0
4   5  0.49788  0.48246    1.98437  0.96082  ...   CL0        CL2       CL2    CL0  CL0

[5 rows x 32 columns]

In [50]:
df['Gender'].value_counts(normalize = True)

-0.48246    0.500265
 0.48246    0.499735
Name: Gender, dtype: float64

In [0]:
df = df.drop(columns=['ID'])

**One Hot** **encode**

In [52]:
le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

   Age  Gender  Education  Country  ...  Mushrooms  Nicotine  Semer  VSA
0    2       1          5        6  ...          0         2      0    0
1    1       0          8        6  ...          0         4      0    0
2    2       0          5        6  ...          1         0      0    0
3    0       1          7        6  ...          0         2      0    0
4    2       1          8        6  ...          2         2      0    0

[5 rows x 31 columns]

**Train Test Split**

In [0]:
target = df.Gender

In [54]:
X_train,X_test,y_train,y_test = train_test_split(df, target, test_size=0.2)
X_train, X_val, y_train,y_val = train_test_split(X_train,y_train, test_size=0.2)


X_train.shape,X_val.shape,X_test.shape,y_train.shape,y_val.shape,y_test.shape

((1206, 31), (302, 31), (377, 31), (1206,), (302,), (377,))

In [55]:

df.describe()

               Age       Gender  ...        Semer          VSA
count  1885.000000  1885.000000  ...  1885.000000  1885.000000
mean      1.345889     0.499735  ...     0.009549     0.433422
std       1.277454     0.500133  ...     0.159331     0.962375
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.000000  ...     0.000000     0.000000
50%       1.000000     0.000000  ...     0.000000     0.000000
75%       2.000000     1.000000  ...     0.000000     0.000000
max       5.000000     1.000000  ...     4.000000     6.000000

[8 rows x 31 columns]

In [0]:
numeric_features = df.select_dtypes(include=['number'])
cardinality = df.select_dtypes(exclude='number').nunique()
categorical_features = cardinality[cardinality <= 40].index.tolist()

In [64]:
pipeline = make_pipeline(
    LogisticRegression()
)
pipeline.fit(X_train , y_train)
pipeline.score(X_val, y_val)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

1.0

In [66]:
model = logisticRegr.fit(X_train, y_train)
y_pred = logisticRegr.predict(X_test)
y_pred

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 0])